body{
	background-image:url("re.png");
	background-repeat: no-repeat;
	font-family: arial;
	background-position: center;
	background-size: cover;
	margin: 0;
	padding: 0;
}
.dropdwn{
	margin: 0 auto;
}
nav{
	height: 60px;
	background: #ffffff;
	box-shadow: 0 10px 15px rgba(0,0,0,.1);
}
.logo{
	padding: 5px 0 0 80px;
	width: 50px;
	height: auto;
}
nav ul{
	padding: 0;
	margin: 0;
	float: right;
	margin-right: 30px;
}
nav ul li{
	background: #ffffff;
	position: relative;
	list-style: none;
	display: inline-block;;
}
nav ul li a{
	display: block;
	padding: 0 15px;
	color: black;
	text-decoration: none;
	line-height: 60px;
	font-size: 20px;
	transition: .5s;
}
nav ul li a:hover{
	background: #D8D8D8;
	opacity: 1;
}
nav ul ul{
	position: absolute;
	top: 60px;
	line-height: 20px !important;
	display: none;
}
nav ul li:hover > ul{
	display: block;
}
nav ul ul li{
	width: 150px;
	float: none;
	display: list-item;
	position: relative;
	line-height: 20px !important;
}
nav ul ul ul li{
	position: relative;
	top: -60px;
	left: 150px;
}
.body{
	padding: 0 20px;
}
.body p{
	text-align: center;
}
